.ResizableItem{
    transition: transform .2s;
    overflow: visible;
}
.ResizableItem:hover{
    transform: scale(1.15);
    cursor:pointer;
}
.ResizableItem:active{
    transform: scale(0.9);
    cursor:pointer;
}
.Emoji{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}




[id="EmojiContainer"]{
    position:absolute;
    width:320px;
    height:498px;
    z-index:9;
    border-radius:10px;
    background-color:#FFFFFF;

    box-shadow:  0 0 10px 0px rgba(153,153,153,0.6);
}



.EmojiSmallContainer{
    border-radius: 10px;
    margin:5px;
    width:64px;
    height:64px;
    display:inline-block;
    overflow: hidden;
}
.EmojiSmallContainer:hover{
    background-color:#cacaca;
}





[id="PopupText"]{
    font-size: 1.1rem;
    font-weight: bold;
    border:10px;

    line-height: 40px;
    text-align: center;

    color:aliceblue;
}
[id="PopupTextContainer"]{
    background-color: #4d97ff;
    border-radius: 6px;
    
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 7px;

    width: 290px;
    height:40px;

}

[id="SearchEmojis"]{
    margin-left: 15px;
    width: 290px;
    height:20px;
    border-color: white;
    resize: none;
    outline: none;

    text-align: center;
    font-size: 0.9rem;
    overflow: hidden;
    
}


div[id="ExitButtonContainer"]{
    position:absolute;
}


div[id="UndoButtonContainer"]{
    position:absolute;
}

div[id="ClearSearchContainer"]{
    margin-left:122.5px;
}




.ZoomInAndOut{
    animation: ZoomInAndOut 1s ease-out infinite;
}
@keyframes ZoomInAndOut {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
}




[id="AddEmoji"]{
    border:none;
    margin:6.4px;
    background-color:#ffb32f;
    width:100px;
    height:40px;
    border-radius:3px;

    transition: transform .2s;
}
[id="AddEmoji"]:hover{
    cursor:pointer;
    transform: scale(1.1,1.1);
    box-shadow:  0 0 10px 0px rgba(153,153,153,0.6);
}
[id="AddEmoji"]:active{
    transform: scale(0.9);
}



[id="AddEmojisButtonText"]{
    color:white;
    font-size: .8rem;
    font-weight: bold;
    position:relative;
    top:-15px;
    left:-3px;
}
[id="AddEmojiButtonImg"]{
    width: 20px;
    height: 20px;
    border: none;
    margin:10px;
}


[id="EmojiContentContainer"]{
    width:320px;
    height:336px;
    overflow:scroll;

    
}







[id="EmojiContentContainer"]::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
[id="EmojiContentContainer"]::-webkit-scrollbar-track {
background: #ffffff; 
}

/* Handle */
[id="EmojiContentContainer"]::-webkit-scrollbar-thumb {
background: rgba(136, 136, 136, 0.527); 
border-radius:20px;
}

/* Handle on hover */
[id="EmojiContentContainer"]::-webkit-scrollbar-thumb:hover {
background: rgba(85, 85, 85, 0.678); 
}
