html{
    margin:5px;
    width: 200px;
    height:300px;
}

.ButtonText{
    font-size: 1rem;
    font-weight: bold;
    color:#ffffff;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;

    position: relative;
    top:-10px;

    display: inline-block;
}

.ButtonTextBlack{
    font-size: 1rem;
    font-weight: bold;
    color:#000000;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;

    position: relative;
    top:-10px;

    display: inline-block;
}


.Button{
    border:none;
    
    width:180px;
    height:40px;
    border-radius:5px;

    transition: transform .2s;
}

.Button:hover{
    cursor:pointer;
    transform: scale(1.05,1.05);
    box-shadow:  0 0 10px 0px rgba(153,153,153,0.6);
}

.ButtonImg{
    width: 25px;
    height: 25px;
    margin-left:50px;
}


[id="help"]{
    background-color:rgb(255, 93, 44);
}
[id="github"]{
    background-color:#ffffff;
}

[id="Content"]{
    position: relative;
    top:120px;
}